<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have 8 years of experience as a quality assurance analyst, and have worked
            with both Agile and Waterfall. I have also worked in Tier II Support for one of the same 
	    projects. I found that I greatly prefer working on the development side. Most of my 
	    experience is in manual testing, although I have a fair amount of experience with performance 
	    testing as well. 
        </p>
        <p>
           I love building things, and I love breaking them. I find that to succeed in QA it is necessary 
	   to have the mindset of a scientist rather than an engineer, and it helps to have a contrarian streak. 
           I'm looking for a senior individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with automation. I would also be open to taking on 
	   more of a business analyst role. 
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Created a relational database to track requirements traceability for an entire complex application after it became 
	    clear that Excel spreadsheets were inadequate to trace requirements across features.
    			</li>
          <li>
            Created most of the regression test suite and a substantial amount of documentation for a large appplication which
            had been minimally documented. Experimented and reverse engineered a lot of the configurations to do this. 
          </li>
	  <li>At a different company, created most of the regression test suite and a substantial amount of documentation for
		  two separate appplications which had been minimally documented.</li>
		<li>Created an entire set of requirements documents for one of the same applications.</li>
           Created an entire set of performance tests in JMeter from scratch to test every workflow in a large application.
    			<li>
            Evaluated several test management applications for one company and selected TestRail. Migrated all the tests from
	    Google Documents to TestRail. 
				
    			</li>
    			<li>
            Awarded for redoing an entire product backlog of nearly 1,000 tickets and organizing it all into epics.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
