<section class="tout" id="books">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Books I have read about software testing</h2>
                <hr />
                <ul>
                <li>
                Testing Computer Software by Cem Kaner
                </li>
                <li>
                Software Testing Techniques by Dr. Boris Beizer
                </li>
                <li>
                Agile Testing: A Practical Guide for Testers and Agile Teams by Lisa Crispin and Janet Gregory
                </li>
                <li>
                Testing in Scrum: A Guide for Software Quality Assurance in the Agile World by Tilo Linz
                </li>
                </ul>
            </div>
        </div>
            <div class="row">
          
    <div class="col-sm-6">
     
	
  		    <h3>Courses I have taken</h3>
  		    <ul>
			    <li>
				  A Guide To Mobile Application Testing Testing from Scratch
			    </li>
  			<li>
            Database Design and Management
  			</li>
  			<li>
  			  Client-side scripting Languages (Javascript)
  			</li>
        <li>
        Java Programming
        </li>
        <li>
        Advanced Java Programming
        </li>
        <li>
        Programming in C++
        </li>
        <li>
        Programming in 4th Generation Languages (SQL)
        </li>
        <li>
        Introduction to HTML and Intermediate HTML
        </li>
        <li>
        Introduction to Microcomputing (DOS)
        </li>
        <li> 
        Linux Administration
        </li>
        <li> 
        Systems Analysis (SDLC)
        </li>
        <li>
        Operating Systems
	</li>
	<li>
	Unix
	</li>
	<li>
	A Guide to Mobile Application Testing from Scratch
	</li>
	<li> 
	Web Services/REST API Testing with SOAPUI
	</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
