<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
          
    <div class="col-sm-6">
     
	
  		    <h3>Volunteer Work</h3>
  		    <ul>
  			<li>
            NetPals, 2013-2019 with Cambridge School Volunteers
  			</li>
  			<li>
  			  TA for 7th and 8th grade Computer Science at Prospect Hill Academy Charter School, 2015-2017
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
